@CHARSET "ISO-8859-1";

#css{
	width: 300px;
	height: 100px; 
	background: gray;
	opacity:0.3;
	trasition:width 5s;
	-moz-trasition: width 5s;
	border: 2px;
	border-radius:30px;
	
}

#css:hover{
	
width: 500px;	
}